/* styles.css */

body {
    max-width: 620px;
    margin: auto;
    padding: 10px;
    background-color: #22577E;
    color: white;
    font-family: Sans-serif;
}

#title {
    font-family: Cursive;
    text-align: center;
}

#description {
    text-align: justify;
}

#survey-form {
    max-width: 400px;
    margin: auto;
    background-color: #4B7599;
    border: 5px solid #95D1CC;
    border-radius: 5px;
    padding: 5px;
}

label {
    display: inline-block;
    /* border: 1px solid red; */
    margin: 0.5rem 0;
}

#name, #email {
    width: 98%;
}

#number {
    width: 3rem;
}

textarea {
    width: 98%;
    height: 4rem;
    display: block;
    margin: auto;
}

#submit {
    margin: 0.5rem 0;
    width: 100%;
    height: 2rem;
}